<%- include('partials/header'); -%>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">About Us</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
						<div class="img" style="background-image: url(images/german_flag.jpg); "></div>
					</div>
					<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
						<div style="font-family: 'Roboto Slab', serif;">
								<h2 class="mb-4" style="font-size:230%; text-align: center;font-weight: 800">About Us</h2>
								<p>Spandana German Language Coaching Center (SGLCC) is a Platform for all those, who seek any kind of German Language assistance be it for Study purpose or for Job purpose.<br>
					  We, at Spandana German Language Coaching Center merely focus on accommodating all sort of your Language requirements with ease.
					</p>
						</div>
          	
					</div>
				</div>
			</div>
		</section>
		

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2 d-flex">
    			<div class="col-md-6 align-items-stretch d-flex">
    				<div class="img img-video d-flex align-items-center" >
    					<div class="video justify-content-center" style="padding-left: 10%;">
							<iframe src="https://www.youtube.com/embed/ped19lvvFac" class="popup-vimeo d-flex justify-content-center align-items-center" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
								<!-- <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center"> -->
								
		  					</a>
							</div>
    				</div>
    			</div>
          <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
				<div style="font-family: 'Roboto Slab', serif;">
						<h2 class="mb-4" style="font-size:230%; text-align: center;font-weight: 800">Why learn German?</h2>
						<p >
						  <li style="color: white">The geographical situation of Germany, Austria and Switzerland
							  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; at the centre of Europe, as well as their cultural and economic &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;significance, makes the German language highly attractive.</li><br>
						  <li style="color: white"> 100 million people world-wide speak German</li><br>
						  <li style="color: white">Almost 20 million people world-wide are learning German.</li><br>
						  <li style="color: white">German is the most widely spoken language in the EU.</li><br>
						  <li style="color: white">German is, according to “Eurostat“, the second most frequent &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;foreign language in the EU.</li><br></p>
				</div>
			
          </div>
        </div>	
    	</div>
    </section>

    <%- include('partials/footer'); -%>