<%- include('partials/header_german'); -%>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Über uns</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Zuhause<i class="ion-ios-arrow-forward"></i></a></span> <span>Über uns <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
						<div class="img" style="background-image: url(images/german_flag.jpg); "></div>
					</div>
					<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
						<div style="font-family: 'Roboto Slab', serif;">
								<h2 class="mb-4" style="font-size:230%; text-align: center;font-weight: 800">Über uns</h2>
								<p>Das Spandana German Language Coaching Center (SGLCC) ist eine Plattform für alle, die Unterstützung in deutscher Sprache suchen, sei es für Studienzwecke oder für berufliche Zwecke.<br>
									Wir im Spandana German Language Coaching Center konzentrieren uns lediglich darauf, alle Ihre Sprachanforderungen mühelos zu erfüllen.
					</p>
						</div>
          	
					</div>
				</div>
			</div>
		</section>
		

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2 d-flex">
    			<div class="col-md-6 align-items-stretch d-flex">
    				<div class="img img-video d-flex align-items-center" >
    					<div class="video justify-content-center" style="padding-left: 10%;">
							<iframe src="https://www.youtube.com/embed/ped19lvvFac" class="popup-vimeo d-flex justify-content-center align-items-center" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
								<!-- <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center"> -->
									<span class="ion-ios-play"></span>
		  					</a>
							</div>
    				</div>
    			</div>
          <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
				<div style="font-family: 'Roboto Slab', serif;">
						<h2 class="mb-4" style="font-size:230%; text-align: center;font-weight: 800">Warum Deutsch lernen?</h2>
						<p >
						  <li style="color: white">Die geografische Lage Deutschlands, Österreichs und der Schweiz
							  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; im Zentrum Europas sowie ihre kulturellen und wirtschaftlichen &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bedeutung, macht die deutsche Sprache sehr attraktiv.</li><br>
						  <li style="color: white"> Weltweit sprechen 100 Millionen Menschen Deutsch</li><br>
						  <li style="color: white">Weltweit lernen fast 20 Millionen Menschen Deutsch.</li><br>
						  <li style="color: white">Deutsch ist die am häufigsten gesprochene Sprache in der EU.</li><br>
						  <li style="color: white">Deutsch ist laut Eurostat das zweithäufigste &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fremdsprache in der EU.</li><br></p>
				</div>
			
          </div>
        </div>	
    		<!-- <div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-12">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="18">0</strong>
		                <span>Certified Teachers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="401">0</strong>
		                <span>Students</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="30">0</strong>
		                <span>Courses</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="50">0</strong>
		                <span>Awards Won</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div> -->
    	</div>
    </section>

    <%- include('partials/footer_german'); -%>