<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: white;
  text-align: center;
}
img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  z-index: -1;
  opacity: .8;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front:after{
  position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
    opacity: .8;
    background: #0d1128;
    background: #0d1128;
    background: -moz-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #0d1128), color-stop(100%, #fd6100));
    background: -webkit-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
    background: -o-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
    background: -ms-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
    background: linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1128', endColorstr='#fd6100', GradientType=1 );
}

.flip-card-front {
 color: white;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.card2 {
    display:inline-block;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 5em;
}

.card21 {
  display:inline-block;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 5em;
}
</style>
</head>
<body>
<!-- 
<h1>Card Flip with Text</h1>
<h3>Hover over the image below:</h3> -->
<div class="row text-center h-100" style="padding-left: 4%;">
<!-- <div class="card21">
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="images/card.jpg" style="width:300px;height:300px;" >
        <h1 class="card-body">German Language Courses</h1>
      </div>
    <div class="flip-card-back"> 
      <p>A1, A2, B1, B2,  
        C1, C2     
       </p> 
      <p>Weekend & Weekday Batches</p>
    </div>
  </div>
</div>
</div> -->
<div class="col-md-4 text-center">
  <div class="card21">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="images/card.jpg" style="width:300px;height:300px;" >
            <h1 class="card-body text-center" style="padding-top: 80px;">German Language Courses</h1>
            </div>
          </div>
        <div class="flip-card-back"> 
          <p>A1, A2, B1, B2,  
            C1, C2     
           </p> 
          <p>Weekend & Weekday Batches</p>
        </div>
      </div>
    </div>
    </div>



    <div class="col-md-4 text-center">
<div class="card21">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="images/c1.jpg" style="width:300px;height:300px;">
          <h1>Goethe Exams Preparations</h1>
        </div>
        <div class="flip-card-back"> 
          <p>A1, A2, B1, B2, C1, C2</p> 
          <p>Weekend & Weekday Batches</p>
        </div>
      </div>
    </div>
</div>
    </div>


    <div class="col-md-4 text-center">
    <div class="card21">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="images/c2.png" style="width:300px;height:300px;"><h1>Study and University Assistance in Germany</h1>
                </div>
                <div class="flip-card-back"> 
                    <p>Bachelors / Masters /
                      Other  
                         
                     </p> 
                    <p>Weekend & Weekday Batches</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row" style="padding-left: 9%;">
    <div class="card2">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="images/c3.jpg" style="width:300px;height:300px;"><h1>Job Interview Preparations</h1> 
            </div>
            <div class="flip-card-back">
              <p>Customized as 
                per your 
                requirements
                </p> 
              
            </div>
          </div>
        </div>
    </div>

    <div class="card2">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="images/c6.jpg" style="width:300px;height:300px;"><h1>Spoken Language Classes</h1> 
                </div>
                <div class="flip-card-back">
                  <p>Classroom or Telephonic
                    as per your 
                    request
                    </p> 
                  <!-- <p>We love that guy</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
