<%- include('partials/header'); -%>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Courses</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>What we offer <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

	<section class="ftco-section ftco-no-pt ftc-no-pb">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
					<div class="img" style="background-image: url(images/german_flag.jpg);"></div>
				</div>
				<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
		  <h2 class="mb-4">What We Offer</h2>
					<p>We suggest the learning plan for you as per your requirements or please feel free to come up with your own learning plan.<br><br>
						We provide you comfortable ambience while learning at our Center. The training methodologies are unique with audio video classes and interactive sessions, wherein the students will practice speaking and writing skills as well.<br> <br>
						We also assist you in preparing for the Goethe Certificate exams of all levels (A1, A2, B1, B2, C1, C2) as we use the Goethe books as teaching material. Based on individuals more emphasis given, and practice will be done on Speaking, reading, listening and writing part of the German language.<br><br></p>
					
					<!-- <p>We understand the challenges faced by you in terms of study and universities assistance. Students facing complications while applying for universities or looking for suggestions in study choices will be assisted here. Information about end to end process like application, visa, travel will also be provided as per request.<br><br>
							Are you going for Job seeker Visa and want to feel confident in Language before attending Interviews, we are here to help you. feel free to contact us and decide suitable learning plan.<br><br>
							We also assist people with all sort of language requirements, who are travelling to Germany. Teaching methods will be diverse as per your needs. Learning plan will be shaped cordially. We are open for suggestions.<br><br>
					</p> -->
					<!-- <div class="text-center">
						<button type="button" class="btn btn-info btn-lg text-center">Know More</button>
					</div>  -->

						
					
				</div>
			</div>
		</div>
  </section>
  
  <%- include('partials/footer'); -%>